#scores {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  #scores td, #scores th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #scores tr:nth-child(even){background-color: #f2f2f2;}
  
  #scores tr:hover {background-color: #ddd;}
  
  #scores th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0497aa;
    color: white;
    text-align: center;
  }

  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit], input[type=button] {
    width: 35%;
    background-color: #0497aa;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover, input[type=button]:hover {
    background-color: #47c3d3;
  }
  
#container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #age-error {
    color: red;
    padding: 10px;
    visibility: hidden;
  }

  .error {
    color: red;
    padding: 10px;
    display: none;
  }

  #buttons {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 40%;
  }

  #gender-div {
    margin-right: 30%;
  }

  h1 {
    color: #0497aa;
  }